%button-icon{
  border: none;
  background-color: inherit;
}
%left-line-50px{
  position: relative;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -65px;
    width: 50px;
    height: 1px;
    background-color: $color_line;
  }
}
%left-line-30px{
  position: relative;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -45px;
    width: 30px;
    height: 1px;
    background-color: $color_line;
  }
}
%right-line-50px{
  position: relative;
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -85px;
    width: 50px;
    height: 1px;
    background-color: $color_line;
  }
}
%ruble{
  &:after{
    content: "";
    display: inline-block;
    position: absolute;
    margin-left: 7px;
    bottom: 0;
    background-image: url("../../img/ruble.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 8px;
    height: 10px;
  }
}
%button{
  display: inline-block;
  width: 205px;
  height: 64px;
  text-transform: uppercase;
  color:$color_main_bg;
  font-weight: 500;
  font-size: 12px;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-align: center;
  transition: background-color 0.5s;
  &:hover{
    background-color:$color_line;
  }
}
@media (max-width: 1024px) {
  %right-line-50px {
    &:after{
      width: 30px;
      right: -60px;
    }
  }
  %left-line-50px {
    &:before{
      width: 25px;
      left: -45px;
    }
  }
}
@media (max-width: 680px) {
  %right-line-50px {
    &:after{
      display: none;
    }
  }
  %left-line-50px {
    &:before{
      display: none;
    }
  }
}
