$color_footer_bg: #444240;
$color_watch_bg: #FDFDFB;
$color_main_bg: #FFFFFF;
$color_slider_bg: #F7F5EF;
$color_button_catalog: #D4B098;
$gradient_header: linear-gradient(#E2D0C4 0%, #E2D0C4 100%);
$color_link_header: #555248;
$color_line: #8B8371;
$color_title: #1B1A17;
$color_text: rgba(27, 26, 23, 0.82);
